<table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col" sortable="date" (sort)="onSort($event)">Date</th>
      <th scope="col" sortable="description" (sort)="onSort($event)">Description</th>
      <th scope="col" >Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let event of events; index as i">
      <th scope="row">{{ i }}</th>
      <td>
        {{ event.date | date:'MMMM d, y, h:mm:ss a' }}
      </td>
      <td>
        {{ event.text }}
      </td>
      <td>
        <button>Unactive</button>
        <button>Delete</button>

      </td>
    </tr>
    </tbody>
  </table>
