.register-form-wrap {
    max-width: 500px;
    background: white;
    padding: 10px;
    border-radius: 5px;
    margin: 90px auto 0 auto;

    .form-group {
        text-align: center;
    }

    .form-title {
        position: relative;
        font-family: initial;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 24px;
        padding-bottom: 15px;
    }

    .form-title::before {
        content: "";
        width: 50px;
        height: 1px;
        background-color: black;
        position: absolute;
        left: -60px;
        top: 18px;
    }

    .form-title::after {
        content: "";
        width: 50px;
        height: 1px;
        background-color: black;
        position: absolute;
        right: -60px;
        top: 18px;
    }

    .form-item {
        margin-bottom: 1rem;
    }
}
