
<ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav-tabs">
  <li [ngbNavItem]="1">
    <a ngbNavLink>Selected day</a>
    <ng-template ngbNavContent>
      <p>Selected</p>
    </ng-template>
  </li>
  <li [ngbNavItem]="2">
    <a ngbNavLink>All</a>
    <ng-template ngbNavContent>
      <!-- <div>
        <ul>
          <li *ngFor="let event of events; index as i">
            <span class="event-count">{{i+1}}</span><span>{{event.date | date:'MMMM d, y, h:mm:ss a'}}</span><span>{{event.text}}</span>
          </li>
        </ul>
      </div> -->
    
      <app-scheduler-event-table></app-scheduler-event-table>
    </ng-template>
  </li>
</ul>

<div [ngbNavOutlet]="nav" class="exists-events-content mt-2">
</div>

      