<div id="index-modal-container">

    <div class="modal-background">

        <div class="title-anim-wrap">
            <div class="title-text-wrap">
                <span class="title-text">Free WORLD</span>
            </div>
            <div class="opening-door">
                <span class="opening-door-text">
                    .............................................................................................................................
                    .............................................................................................................................
                    .............................................................................................................................
                    .............................................................................................................................
                    .............................................................................................................................
                    .............................................................................................................................
                    .............................................................................................................................

                </span>
            </div>
        </div>

    </div>
</div>
