.navbar {
    border-bottom: 1px solid;
    background-color: rgba(0, 0, 0, 0.9);
    background: rgba(0, 0, 0, 0.9);
    color: rgba(0, 0, 0, 0.9);

    #navbarNav {
        justify-content: flex-end;

        .navbar-nav {
            .nav-item {
                .nav-link {
                    color: white;
                }
            }
        }
    }
}
